div {
	background:#922B21;
	width: 250px;
	height: 250px;
	margin: 20px;

	/* display: inline-block; Para colocar las cajas una al lado de la otra */
}

.caja1 { border: 7px solid #17202A ; border-radius: 30px}
.caja2 { border: 7px dotted #17202A ;border-radius: 50px}
.caja3 { border: 7px dashed #17202A ;border-radius: 0px 45px 0px 45px}
.caja4 { border: 7px double #17202A ;border-radius: 70px}
.caja5 { border: 7px double #17202A ;border-radius: 100%}