/* 
Estructura de CSS:

"body" = Selector, elemento que queremos aplicar los efectos
"color"= Propiedad, efecto que queremos aplicar
"blue" = Es el valor de la propiedad

*/  

 /* Selector universal 
 
 *  {color: red;}

*/

h1, h2, h3{color: blue;}

/* Selectores decendentes */

div p {font-size:20px; color:black;}

div article p {font-size:30px; color:black;}

div p a {color: red;}

body a {color: green;}

/*Selector de clases*/

.grande{font-size: 28px;}

/*Selector de id

Generalmente NO se utiliza el id en el codigo css

*/

#pequeño{font-size: 12px;}

