*{padding: 0; margin: 0;}

body {background:#EAECEE;}

.caja{
	width: 200px;
	height: 200px;
	background:#ABB2B9;
	margin: 20px;

}

.p1 {
	background:#27AE60;
	position: relative;
	top:;
	right: ;
	left: 200px;
	bottom: ;
	
}

