body {
	font-family: Arial, Sans-serif;
	background: #D5DBDB;
}

div, a{
	background:#EB984E;

}

a {
	background: #CD6155 ;
	color: #fff ;
	padding: 20px;
	display: inline-block;
	/*display: block;*/
	/*display: none;*/
	/*visibility: hidden;*/

	/*display [inline | none | inline-block | flex]*/
}

.caja {
	color: #fff ;
	background: #9A7D0A;
	margin: 20px 0px;
	width: 200px;
	height: 200px;
	overflow:auto;
    
    /*con overflow:hidden eliminamos lo sobrante que esta fuera de la caja;
	con overflow:auto añadimos un scroll para leer el contenido completo que sobresale de la caja;*/

}

.contenedor {
	width: 600px;
	background: #CB4335;
	margin: 20px 0px;
	overflow:hidden;
}

.izquierdo {

	float: left;
}

.derecho {

	float: right;
}

.contenedor2 .caja {

	width: 150px;
	height: 150px;
	position: relative;
}

.azul {
	background: #2874A6;
	z-index: 10;

}

.gris {

	background: #566573;
	left: 50px;
	bottom: 80px;
	z-index: 9;

	/* z-index: permite sobreponer el elemento que tiene el valor mayor sobre el menor*/
}


